<h1>Voiture trouvé</h1>

<!-- si current car a une valeur il affiche la div -->
<!-- <div *ngIf="currentCar">
  <h2>{{currentCar.id}}</h2>
  <h2>{{currentCar.brand}}</h2>
</div> -->


<!-- method template des formulaire -->

<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6 max-auto">
      <div class="bg-white shadow rounded p-4">
        <h1 class="display-6 text-dark">Ajouter une annonce</h1>
        <hr class="bg-dark mb-5">

        <form [formGroup]="offerForm" (ngSubmit)="onSubmitOfferForm()">
          <!-- pour quand on voudra modifier -->
          <input type="number" formControlName="index" hidden>
          <div class="form-group mb-3">
            <label for="offerTitleInput">titre</label>
            <input type="text" formControlName="title"  id="offerTitleInput" class="form-control">
          </div>


          <div class="form-group mb-3">
            <label for="offerBrandInput">Marque</label>
            <input type="text" formControlName="brand"  id="offerBrandInput" class="form-control" appUppercaseInput>
          </div>


          <div class="form-group mb-3">
            <label for="offerModeleInput">Modele</label>
            <input type="text" formControlName="modele"  id="offerModeleInput" class="form-control">
          </div>

          <div class="form-group mb-3">
            <label for="descInput">Desc</label>
            <textarea formControlName="desc"  class="w-100" id="descInput" ></textarea>
          </div>

          <div class="form-group mb-3">
            <label for="offerPriceInput">Prix</label>
            <input type="number" formControlName="price" id="offerPriceInput" class="form-control">
          </div>

          <div class="d-flex">
            <button class="btn btn-success" type="submit" [disabled]="offerForm.invalid">enregister</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<div class="row container mx-auto">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titre</th>
        <th scope="col">Voiture</th>
        <th scope="col">Prix</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let offer of offers; let i = index">
        <th>{{ i }} </th>
        <td> {{ offer.title }}</td>
        <td> {{ offer.brand + ' ' + offer.modele}}</td>
        <td> {{ offer.price }}</td>
        <td>
          <button class="btn btn-primary" type="button"(click)="onEditOffer(offer, i)">Modifier</button>
          <button class="btn btn-danger" type="button" (click)="onDeleteOffer(i)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
